################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AFStudiumDBAPI/FileContentIndex/0dce8e8b-8d95-4d11-928d-3036b4952759.vsidx
/.vs/AFStudiumDBAPI/FileContentIndex
